

= content_for :top_nav do
  :javascript
    $(document).ready(function() {
      $('#login').click(function() {
        window.location = "/login";
      });
      $('#signup').click(function() {
        window.location = "http://account.collegezen.net/signup";
      });
      $('#profile').click(function() {
        window.location = "http://account.collegezen.net/";
      });
      $('#logout').click(function() {
        window.location = "/signout";
      });
      $('.dropdown-toggle').dropdown();
    });

  - if logged_in?
    .logged-in
      .btn-group
        %button{:class => 'btn btn-icon', :id => 'profile'}
          .picture
            = image_tag(image_tagger(:small))
          .name
            = first_name
            = last_name
        %button{:class => 'btn dropdown-toggle profile-drop-toggle', :data => {:toggle => 'dropdown'} }
          %span{:class => 'caret'}
        %ul.dropdown-menu
          %li#logout
            Sign Out
  - else
    .logged-out
      .btn-group
        %button{:class => 'btn', :id => 'login'}
          Login
        %button{:class => 'btn btn-warning', :id => 'signup'}
          Signup